.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 920px;
  height: 481px;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
}

.left {
  width: 379px;
  height: 388px;
  margin-left: 48px;
}

.right {
  width: 413px;
  height: 417px;
  border-radius: 10px;
  margin-right: 32px;
}

.billHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.billText {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
  margin-bottom: 6px;
}

.inactive {
  display: none;
}

.billText2 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #e17457;
}

.bill {
  margin-bottom: 40px;
}

.currencyinput,
.numberOfPeopleInput {
  position: relative;
  border: 0;
  outline: none;
  height: 48px;
  background-color: #f3f9fa;
  font-size: 24px;
  line-height: 36px;
  color: #9ebbbd;
  border-radius: 5px;
  border: 2px solid transparent;
}
.currencyinput input,
.numberOfPeopleInput input {
  width: 100%;
  height: 44px;
  border: none;
  outline: none;
  text-align: right;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #00474b;
  background-color: #f3f9fa;
  padding-left: 24px;
  padding-right: 12px;
}

.currencyIcon,
.picture {
  position: absolute;
  left: 8px;
  top: 4px;
}

.picture {
  padding-top: 12px;
}

.currencyinput:hover,
.numberOfPeopleInput:hover {
  border: 2px solid #26c2ae;
}

.selectTip {
  margin-bottom: 40px;
}

.selectTipText {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
  margin-bottom: 16px;
}

.selectTipButtons {
  width: 379px;
  height: 112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selectTipButtons button,
.selectTipButtons input {
  width: 117px;
  height: 48px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background: #00474b;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.selectTipButtons input {
  background: #f3f9fa;
  border-radius: 5px;
  color: #547878;
  border: 2px solid transparent;
  outline: none;
  text-align: center;
}

.selectTipButtons input:hover {
  border: 2px solid #26c2ae;
}

.selectTipButtons button:hover {
  border: 2px solid #26c2ae;
}

.right {
  position: relative;
  padding: 40px;
  background-color: #00474b;
}

.tipPerPerson,
.tipTotal {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  text-align: right;
  letter-spacing: -1px;
  color: #26c2ae;
}

.leftTip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.subtitle {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}

.tipAmount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 333px;
  height: 71px;
}

.reset {
  width: 333px;
  height: 48px;
  background: #26c2ae;
  border-radius: 5px;
  border: none;
  justify-self: end;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}

.numberOfPeopleInput {
  display: flex;
  flex-direction: row;
}

.picture1,
.picture2 {
  display: block;
}

.currencyinput input::-webkit-outer-spin-button,
.currencyinput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .currencyinput input[type="number"] {
  -moz-appearance: textfield;
} */

.numberOfPeopleInput input::-webkit-outer-spin-button,
.numberOfPeopleInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .numberOfPeopleInput input[type="number"] {
  -moz-appearance: textfield;
} */

.selectTipButtons input::-webkit-outer-spin-button,
.selectTipButtons input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .selectTipButtons input[type="number"] {
  -moz-appearance: textfield;
} */
